/* background colour for all pages */
body {
    background-color: rgb(255, 255, 255);
}

/*  page formats for all pages */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

/* Universal button style applied to all buttons on website */
.table-btn,
.cancel-order,
.edit,
.dropbtn,
.cancel-confirmed-order,
.add-to-cart-btn,
.help-button{
   align-items: center;
   appearance: none;
   border-radius: 4px;
   border-style: none;
   box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: .800rem;
   font-weight: 500;
   height: 30px;
   justify-content: center;
   letter-spacing: .0892857em;
   line-height: normal;
   min-width: 30px;
   outline: none;
   overflow: visible;
   padding: 0 16px;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
   transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   will-change: transform,opacity;
}

/* universal hover effect for all submit buttons on the website */
.table-btn:hover,
.cancel-order:hover,
.cancel-confirmed-order:hover,
.add-to-cart-btn:hover,
.help-button:hover {
    box-shadow: rgba(0, 0, 0, .7) 0 2px 4px -1px,
                rgba(0, 0, 0, .14) 0 4px 5px 0,
                rgba(0, 0, 0, .12) 0 1px 10px 0;
}

/* universal disabled button format for all submit buttons on website */
.table-btn:disabled,
.cancel-order:disabled,
.cancel-confirmed-order:disabled,
.add-to-cart-btn:disabled,
.help-button:disabled {
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0,
                rgba(0, 0, 0, .14) 0 0 0 0,
                rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
}

/* universal active button style for all submit buttons on website */
.table-btn:not(:disabled),
.add-to-cart-btn:not(:disabled),
.help-button:not(:disabled) {
    background-color: #008000;
}

/* universal focus effect for all  submit buttons on website */
.table-btn:focus,
.cancel-order:focus,
.cancel-confirmed-order:focus,
.add-to-cart-btn:focus
.help-button:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 2px 4px -1px,
                rgba(0, 0, 0, .14) 0 4px 5px 0,
                rgba(0, 0, 0, .12) 0 1px 10px 0;
}

/* universal click effect on all submit buttons on the website */
.table-btn:active,
.add-to-cart-btn:active
.help-button:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px,
                rgba(0, 0, 0, .14) 0 8px 10px 1px,
                rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #228b22;
}

/* effect which adds a button all headings on the website */
.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}
/* universal active effect for cancel buttons on the website */
.cancel-order:not(:disabled) {
    background-color: #c62828;
}
/* universal click effect for all cancel buttons on the website */
.cancel-order:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #b71c1c;
}
