body {
    background-color: rgb(255, 255, 255);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.table-btn, .cancel-order, .edit, .dropbtn, .cancel-confirmed-order, .add-to-cart-btn{
   align-items: center;
   appearance: none;
   border-radius: 4px;
   border-style: none;
   box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: .800rem;
   font-weight: 500;
   height: 30px;
   justify-content: center;
   letter-spacing: .0892857em;
   line-height: normal;
   min-width: 30px;
   outline: none;
   overflow: visible;
   padding: 0 16px;
   position: relative;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
   transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: middle;
   will-change: transform,opacity;
}

.table-btn:hover, .cancel-order:hover, .cancel-confirmed-order:hover, .add-to-cart-btn:hover{
    box-shadow: rgba(0, 0, 0, .7) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.table-btn:disabled, .cancel-order:disabled, .cancel-confirmed-order:disabled, .add-to-cart-btn:disabled{
    background-color: rgba(0, 0, 0, .12);
    box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
}

.table-btn:not(:disabled), .add-to-cart-btn:not(:disabled) {
    background-color: #008000;
}

.table-btn:focus,.cancel-order:focus, .cancel-confirmed-order:focus, .add-to-cart-btn:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}

.table-btn:active, .add-to-cart-btn:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #228b22;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.cancel-order:not(:disabled) {
    background-color: #c62828;
}

.cancel-order:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #b71c1c;
}
