/* styling for the animated title sequence */
.typewriter {
  font-family: 'Helvetica Neue', sans-serif;
  text-align:center;
  position: relative;
  padding-top: 200px;
}

.typewriter-text {
  text-align: center;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 900;
  box-sizing: border-box;
  position: relative;
}

  /* animation effects to simulate keyboard typing of the title */
  @keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
  }

  @keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
  }

* {
  box-sizing: border-box;
}

/* styling for the homepages 'center piece' */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  justify-content: center;

}

/* row: container for the 'center piece' */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: center;
  padding-top: 90px;
}

h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}

#order-btn {
  color: #111;
}

#text-section {
  background-color: #c62828;
  height:520px;
  color: white;
}

#home-image {
  background-image: url('/img/index-img.jpeg');
  height:300px;
  border-radius: 2%;
}

#order-now {
  justify-content: right;
}

/* styling for definition of various input types */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* styling for the contact us container that has very large  
  padding to separate it from the main focal point of the 
  home page while still being a primary thing that the 
  customer can access */
.contact-us {
  margin-top: 275px;
  margin-bottom: 150px;
  border-radius: 5px;
  background-color: rgb(250, 248, 248);
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.c-row:after {
  content: "";
  display: table;
  clear: both;
}
