/* Section which contains the welcome message */
.typewriter {
  font-family: 'Helvetica Neue', sans-serif;
  text-align:center;
  position: relative;
  padding-top: 200px;
}

/* The welcome message */
.typewriter-text {
  text-align: center;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 900;
  box-sizing: border-box;
  position: relative;
}
/* Typing effect used on the welcome message */
@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}


* {
  box-sizing: border-box;
}

/* Input fields on the contact form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Separates a div into 2 columns */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  justify-content: center;

}

/* Separates a div into two rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  text-align: center;
  padding-top: 90px;
}
/* Section header text eg. contact us */
h1 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  padding-bottom: 30px;
}
/* Order button heading text */
#order-text {
  color: #111;
}

/* Background for contact us heading section */
#text-section {
  background-color: #c62828;
  height:520px;
  color: white;
}

/* Image used on the home page*/
#home-image {
  background-image: url('/img/index-img.jpeg');
  height:300px;
  border-radius: 2%;
}

#order-now {
  justify-content: right;
}

* {
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* styling for the contact us container that has very large  
  padding to separate it from the main focal point of the 
  home page while still being a primary thing that the 
  customer can access */
.contact-us {
  margin-top: 275px;
  margin-bottom: 150px;
  border-radius: 5px;
  background-color: rgb(250, 248, 248);
  padding: 10px;
}

/* Format the column and suitable to page */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.c-row:after {
  content: "";
  display: table;
  clear: both;
}
