/* Text style for menu */
.menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

/* Menu Items section format */
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

/* Menu  items */
.menu-item {
    display: flex;
}

/* Images for each menu items */
.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

/* Section containing details for each food items */
.menu-item-text {
    flex-grow: 1;
}

/* Contains item name and price */
.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/*  Name of the menu item */
.menu-item-name {
    margin-right: 1.5em;
}

/* Calorie and allergen information */
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Display elements in these sections inline */
.calories, .allergens, .ingredients{
    display: flex;

}

/* Resizes the menu and reorder the page when it is minimised or maximised */
@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 150px;
        height: 150px;
    }}

/* Input field border format for filter selection */
:root {
    --select-border: #777;
    --select-focus: rgb(23, 194, 63);
    --select-arrow: var(--select-border);
}

/* Format menu filtering dropdown selection */
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 70%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

/* Menu filtering dropdown selection position */
.select {
    width: 140%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
}

/* Turns input border black when selected */
select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid darkgrey;
    border-radius: inherit;
}

/* Place the selection dropdown and search button inline */
.table-btn, .filtering-options{
    right: 15px;
    display: inline-flex;
    
}

/* Format the position of the buttons */
.table-btn{
    left: 10px;
}