
Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

table, th, td {
    width: 30%;
}

.btn {
    white-space: nowrap;
    text-align: center;
}

.item-img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.order-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}
