table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.notification{
    color: #ff0000;
}
.ul{
    position: absolute;
    left: 0;
    top: 60px;
    margin: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0, 5px, 15px rgba(0, 0, 0, 5);
    padding: 20px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
    display:none;
}
.ul li{
    list-style: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 8px 0;
    display: flex;
}

ul li:hover .text{
    font-weight: bold;
    color: #ff2ced;
}

ul li .text{
    top:3px;
    cursor: pointer;
    transition: .0s;
    display: block;
    font-weight: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.msg-detail{
    display: inline-flex;
    margin: 1.5em;
    font-weight: 100;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.cancel-order:not(:disabled) {
    background-color: #c62828;
}

.cancel-order:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #b71c1c;
}

.edit:not(:disabled), .dropbtn:not(:disabled) {
    background-color: #21981a;
}

.edit:active, .dropbtn:active {
    box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
    background: #21981a;
}

.edit, .dropdown {
    display: inline-flex;
}

