<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet"  type="text/css" href="/style/allPages.css">
    <link rel="stylesheet"  type="text/css" href="/style/index.css"/>
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>oaxaca</title>
</head>
<body>
    <!-- custom tag created in header.js -->
    <header-component></header-component>
    <br/>
    <div class="container">
      <!-- an animated title sequence that plays on page load -->
        <div class="typewriter">
            <div class="typewriter-text">Welcome to Oaxaca!</div>
        </div>
        <!-- section with button to redirect to the order page -->
        <div class="row>">
            <div  class="column" id="home-image">
            </div>
            <div class="column" >
                <h1 id="order-text"> Enjoy our delicious menu</h1>
                <form action="/order">
                    <button class="table-btn" id="order-btn">order now</button>
                </form>
            </div>
        </div>
        <!-- contact form -->
        <div style="text-align:center">
        </div>
          <div class="column">
            <form >
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
              <label for="email">E-mail</label>
              <input type="text" id="email" name="email" placeholder="Your e-mail address..">
              <label for="subject">Subject</label>
              <select id="subject" name="subject">
                <option value="booking">Booking</option>
                <option value="menu">Menu</option>
                <option value="allergens">Allergen information</option>
                <option value="location">Location</option>
                <option value="dress-code">Dress Code</option>
                <option value="ammend-booking">Amend your booking</option>
                <option value="s-requests">Special Requests</option>
                <option value="other">Other...</option>
              </select>
              <label for="details">Details</label>
              <textarea id="details" name="details" placeholder="Write something.." style="height:170px"></textarea>
              <input type="submit" value="Submit" class="table-btn"/>
            </form>
          </div>
        <div class="row">
            <div class="column" id="text-section">
                <h1> Contact us</h1>
        </div>

        </div>
      </div>
</body>
</html>