<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet"  type="text/css" href="/style/allPages.css">
    <link rel="stylesheet"  type="text/css" href="/style/waiter.css">
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="/javascript/waiter.js" type="text/javascript" defer></script>
    <title>Kitchen</title>
</head>
<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">

        <!-- section to list all orders in the database -->
        <br/>
        <br/>
        <h2>Orders</h2>
        <table>
            <tr>
                <th>Table number</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>status</th>
                <th>action</th>
            </tr>
            <tr th:each="order: ${orders}">
                <td th:text="${order.tableNo}"></td>
                <td th:text="${order.name}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <input type="button" value="ready" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>