<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon_io/site.webmanifest">
  <link rel="stylesheet"  type="text/css" href="/style/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascript/header.js" type="text/javascript" defer></script>
  <script src="/javascript/login.js" type="text/javascript" defer></script>
  <title>Login</title>
</head>
<body>
<header-component></header-component> <!-- custom tag created in header.js -->
<div class="container">
  <h1>Oaxaca Login</h1>
  <form action="waiter" method="GET"> <!-- using GET method for convinience during development, change to POST -->
    <br>
      <div id="showZero" class="myDefaultDiv"> <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/logo.jpg}"> </div>
      <div id="showZero" class="myDiv"> <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/logo.jpg}"> </div>

      <div id="showOne" class="myDiv"> <img src="/main/resources/static/img/icon-01.png" alt="waiter" th:src="@{img/icon-01.png}"> </div> 
    <br> 
      <div id="showTwo" class="myDiv"> <img src="/main/resources/static/img/icon-02.jpg" alt="kitchen" th:src="@{img/icon-02.jpg}">  </div>
    <br>
      <!--<div class="username">
        <input class="username__option" type="radio"  name="myUsername" value="One" id="myUsername1">
        <label class="username__label" for="myUsername1" >Waiter</label>
        <input class="username__option" type="radio"  name="myUsername" value="Two" id="myUsername2">
        <label class="username__label" for="myUsername2" >kitchen</label>
      </div> -->
      <br>
      <form th:action="@{/login}" method="POST">
        <input type="text" name="username" placeholder="username"/>
        <input type="password" id="pass" name="password" placeholder="Password">
        <input type="submit" value="Login"/>
      </form>



  </form>
</div>


</div>
</body>
</html>