<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  type="text/css" href="/style/menu.css">
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <title>Menu</title>
</head>
<body>

    <header-component></header-component> <!-- custom tag created in header.js -->
    <table>
        <tr>
            <th> item </th>
            <th> price </th>
            <th> calories </th>

        </tr>
            <!-- iterates through the table rows and display on webpage -->
        <tr th:each="item: ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.calories}"></td>
        </tr>
    </table>
    
</body>
</html>