<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/src/main/resources/Style/menu.css">
    <title>Menu</title>
</head>
<body>
     <div class= "Nav">
        <ul class="Nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="Order.html">Order</a></li>
            <li><a href="Login.html">Login</a></li>
          </ul>          
        </div>
</body>
</html>