<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style/allPages.css" />
    <link rel="stylesheet" type="text/css" href="/style/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="/javascript/order.js" type="text/javascript" defer></script>
    <script src="/javascript/ordertrack.js" type="text/javascript" defer></script>
    <title>Order</title>
</head>

<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">
        <div class="table-detail">
            <h2>Table Number:&nbsp </h2>
            <h2 class="table-id"></h2>
    </div>
    <div class="timer">
        <label id="minutes">00</label>:<label id="seconds">00</label>
    </div>
</body>
</html>