<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" href="/src/main/resources/style/menu.css">
    <title>Order</title>
</head>
<body>
    <div> 
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="order">Order</a></li>
            <li><a href="#login">Login</a></li>
          </ul>          
    </div>
    <!-- Display the menu and buttons to add to the item basket -->
</body>
</html>