<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style/allPages.css" />
    <link rel="stylesheet" type="text/css" href="/style/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="/javascript/order.js" type="text/javascript" defer></script>
    <title>Order</title>
</head>

<body>
    <!-- custom tag created in header.js -->
    <header-component></header-component>
    <div class="container">
        <!-- section to select table number -->
        <div class="table-selection">
            <select class="data" id="data">
                <option value="0">select your table number</option>
                <option th:each="table : ${tables}" th:value="${table.id}" th:text="${table.id}"></option>
            </select>
            <button type="button" class="table-btn" onclick="setTable(data.value)">register</button>
        </div>
        <!-- section which displays selected table number -->
        <div class="order-section">
            <div class="table-detail">
                <h2>Table Number:&nbsp </h2>
                <h2 class="table-id" id="table-id"></h2>
            </div>
            <br/>
            <!-- section to send a client request for help -->
            <form action="help" class="waiter-alert" method="POST" th:action="@{/order/clientHelp}"  >
                <input type="hidden" id="table-num" name="tableNo" class="tbl-no"/> <br/>
                <input type="hidden" value="Needs help"  name="message"/>
                <button type="submit" id="alert-btn" value="Call The Waiter" class="help-button"><i class="fa fa-bell"></i>&nbsp;Call the waiter</button>
            </form>
            <!-- help section pop-up button -->
            <div class="help-hover">
                <span class="helper"></span>
                <div>
                    <div class="popup-close-button">&times</div>
                    <strong>Step 1:</strong>
                    <hr class="rounded">
                    <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_01.png}" height="74.26px" width="575px">
                    <br/>
                    <strong>Step 2:</strong>
                    <hr class="rounded">
                    <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_02.png}" height="74.26px" width="575px">
                    <br/>
                    <strong>Step 3 & 4:</strong>
                    <hr class="rounded">
                    <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_03.png}" height="200px" width="112px">
                    <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_04.png}" height="200px" width="262.91px">
                    <hr class="rounded">
                    </p>
                </div>
            </div>
            <form class="order-help" > <!-- How to order button -->
                <button type="button" value="How To Order" class="help-button"><i class="fa fa-question-circle" style="font-size:30px; color:red;"></i>&nbsp;How to order</button>
            </form>
            <div class="cart-heading">
            </div>
            <br/>
            <!-- order form where the user selects their order -->
            <div class="order-heading-with-logo">
                <h2 class="order-heading">Place an order</h2>
                <div class="table-div">
                    <table class="table">
                        <tr class="table-row" th:each="item: ${items}">
                            <td class="row-img">
                                <img class="item-img" th:src="@{${item.image}}" />
                            </td>
                            <td class="row-name" th:text="${item.name}"></td>
                            <td class="row-price" th=:inline="text">£[[${item.price}]]</td>
                            <td>
                                <div class="button-container">
                                    <button class="decrement-qty-btn" type="button" value="-">-</button>
                                    <input class="qty" id="item-quantity" type="text" name="quantity" min="0" value="0"/>
                                    <button class="increment-qty-btn" type="button" value="+">+</button>
                                </div>
                            </td>
                            <td>
                                <button class="add-to-cart-btn" id="add-to-cart" value="submit"><i class='fa fa-plus'></i>&nbspAdd</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- shopping cart pop-up section -->
    <div class="cart-popup">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">&times;</div>

            <h1>Cart</h1>
            <hr>
            <div class="cart-contents">
                <div class="cart-heading"></div>
                <div class="cart-items">
                </div>
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">£0.00</span>
            </div>
            <div class="submit-button">
                <button id="submit-all" class="table-btn">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>