<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style/allPages.css" />
    <link rel="stylesheet" type="text/css" href="/style/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="/javascript/order.js" type="text/javascript" defer></script>
    <title>Order</title>
</head>

<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">
        <div class="table-detail">
            <h2>Table Number:&nbsp </h2>
            <h2 class="table-id"></h2>
        </div>
        <div class="order-heading-with-logo">
            <!-- need to hide this div until a table number is generated -->
            <h2 class="order-heading">
                Order
            </h2>
            <div class="table-div">
                <table class="table">
                    <tr class="table-row" th:each="item: ${items}">
                        <td class="row-img">
                            <img class="item-img" th:src="@{${item.image}}" />
                        </td>
                        <td class="row-name" th:text="${item.name}"></td>
                        <td class="row-price" th:text="${item.price}"></td>
                        <td>
                            <div class="button-container">
                                <button class="decrement-qty-btn" type="button" value="-">-</button>
                                <input class="qty" id="item-quantity" type="text" name="quantity" min="0"
                                    value="0"></input>
                                <button class="increment-qty-btn" type="button" value="+">+</button>
                            </div>
                        </td>
                        <td>
                            <button class="add-to-cart-btn" id="add-to-cart" value="submit"><i class='fa fa-plus'></i>&nbspAdd</button>
                        </td>
                    </tr>
                </table>
            </div>
            <form action="help" class="waiter-alert" method="POST" th:action="@{/order/clientHelp}"  >
                <input type="hidden" id = tablenumber name="tableNo" class="tbl-no" value="30"/>
                <input type="hidden" value="Needs help"  name="message"/>
                <input type="submit" value="Call The Waiter" class="help-button"/>
            </form>            
            <div class="help-hover"> <!-- How to order popup -->
                <span class="helper"></span>
                <div>
                    <div class="popup-close-button">&times;</div>
                    <!-- The step-by-step guide on how to order in text format.
                        Hidden to the user, kept as a reference for system use. 
                        
                        <p><strong><u>How to Order:</u></strong>
                        <br/>
                        To start your order you first need to <strong>add items to your cart</strong>.
                        <br/>
                        Simply select the item you want - a Burrito for example. 
                        <br/>
                        Then select the quantity using the <strong>'+'</strong> buttons - for example 2 for your party.
                        <br/>
                        When it all looks good and your whole table has ordered, press <strong>add to cart</strong>.
                        <br/><br/>
                        To finalise your order press the <strong>cart icon</strong> and check over your order then press <strong>submit</strong>.
                        Your order will then be sent to the kitchen and you can check the status of
                        your order by <strong>calling a waiter</strong> who can assist you.
                        <br/><br/>
                        ---->
                        <br/>
                        <strong>Step 1:</strong> 
                        <hr class="rounded">
                        <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_01.png}" height="74.26px" width="575px">
                        <br/>
                        <strong>Step 2:</strong>
                        <hr class="rounded">
                        <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_02.png}" height="74.26px" width="575px">
                        <br/>
                        <strong>Step 3 & 4:</strong>
                        <hr class="rounded">
                        <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_03.png}" height="200px" width="112px">
                        <img src="/main/resources/static/img/logo.jpg" alt="default" th:src="@{img/instruction_04.png}" height="200px" width="262.91px">
                        <hr class="rounded">
                    </p>
                </div>
            </div>
            <form action="help" class="order-help" method="GET"> <!-- How to order button -->
                <input type="button" value="How To Order" class="help-button"/>
            </form>
            <div class="cart-heading">
            </div>
            </div>
        </div>
    </div>
    <div class="cart-popup">
        <span class="helper"></span>
        <div>
            <div class="popupCloseButton">&times;</div>

            <h1>Cart</h1>
            <hr>
            <div class="cart-contents">
                <div class="cart-heading"></div>
                <div class="cart-items">
                </div>
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">£0.00</span>
            </div>
            <div class="submit-button">
                <button id="submit-all" class="btn btn-info">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>