<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/allPages.css" />
    <link rel="stylesheet" type="text/css" href="/style/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <title>Menu</title>
</head>

<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">
        <div class="order-heading-with-logo">
            <h2 class="order-heading">
                Order
            </h2>
            <!-- <button class="shopping-cart-button"><i class="fa fa-shopping-cart"></i></button> -->
            <div>
                <table class="table">
                    <tr th:each="item: ${items}">
                        <td>
                            <img class="item-img" th:src="@{${item.image}}" />
                        </td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.price}"></td>
                        <td>
                            <label>Quantity:</label>
                            <select name="quantity" id="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn" id="add-to-cart">Add to cart</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>