<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet"  type="text/css" href="/style/allPages.css"/>
    <link rel="stylesheet"  type="text/css" href="/style/payment.css"/>
    <script src="/javascript/header.js" type="text/javascript" defer></script>
    <script src="/javascript/payment.js" type="text/javascript" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Payment</title>
</head>
<body>

    <header-component></header-component> <!-- custom tag created in header.js -->

    <div class="container">
        <div class="custom-select">
            <form action="#" th:action="@{/payment}" method="PUT" >
                <label for="table-number">Select your table number:</label>
              <!--   <select  id="table-number" name="table-number"  th:field="*{id}">
                    <option th:each="table : ${tables}" th:text="${table.id}"  ></option>
                </select> -->
                <input type="number" id="table-number" name="id" />
                <input type="submit" class="table-btn" id="submit-btn"/>
            </form>
        </div>
        <div class="payment" id="payment">
            <span>Total Price = </span> <span th=:inline="text">[[${total}]]</span>
            <form action="#" th:action="@{payment/complete}" method="PUT">
                <input type="hidden" th:value="${table}" name="id"/>
                <div class="row">
                    <div class="col-50">
                        <label for="name">Name</label>
                        <input id="name" maxlength="20" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <label for="cardnumber">Card Number</label>
                        <input id="cardnumber" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>

                <div class="row">
                    <div class="col-50">
                        <label for="expirationdate">Expiration (mm/yy)</label>
                        <input id="expirationdate" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>
                <div class="row">
                    <div class="col-50">
                        <label for="securitycode">Security Code</label>
                        <input id="securitycode" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                </div>

                <input type="submit" class="table-btn" value="pay"/>
            </form>
        </div>

    </div>
</body>
</html>