<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet"  type="text/css" href="/style/allPages.css">
    <link rel="stylesheet"  type="text/css" href="/style/waiter.css">
    <script src="/javascript/staffHeader.js" type="text/javascript" defer></script>
    <script src="/javascript/waiter.js" type="text/javascript" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Waiter</title>
</head>
<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">
        <!--The edit menu section-->
        <h2 class="menu-group-heading">Waiter Controls</h2>
        <br/>
        <br/>
        <button onclick="editMenu()" class="edit"><i class="fa fa-edit"></i> Edit Menu</button>
        <!-- The waiter dropdown to allocate 'sections' -->
        <div class="dropdown">
            <button onclick="showWaiters()" id="bell-btn" class="dropbtn"><i class="fa fa-close"></i> Waiters</button>
            <div class="dropdown-content" id="myWaiters" >
            </div>
        </div>
        <!-- The notification dropdown -->
        <div class="dropdown">
            <button onclick="showNotifications()" id="bell-btn" class="dropbtn"><i class="fa fa-bell"></i> Notifications</button>
            <div class="dropdown-content" id="myDropdown" >
                <div class="msg-detail" th:each="msg: ${alert}">
                    <span>Table</span><span>&nbsp</span>
                    <span th:text="${msg.tableNo}"> </span><span>&nbsp</span>
                    <span th:text="${msg.message}"></span><span>&nbsp</span>
                    <form  th:action="@{/delete/{id}(id=${msg.id})}" method="DELETE">
                        <input type="submit" value="&#10003;clear"/>
                    </form>
                </div>
            </div>
        </div>
        <!-- section to list all orders in the database -->
        <br/>
        <br/>
        <h2 class="menu-group-heading">Orders</h2>
        <br/>
        <br/>
        <table>
            <tr>
                <th>Table number</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>status</th>
                <th>actions</th>
            </tr>
            <tr th:each="pending: ${pendingOrders}">
                <td th:text="${pending.tableNo}"></td>
                <td th:text="${pending.name}"></td>
                <td th:text="${pending.quantity}"></td>
                <td class="order-status" th:text="${pending.status}"></td>
                <td>
                    <form  th:action="@{/waiter/{id}(id=${pending.id})}" method="PUT">
                            <input type="submit" value="&#10003;confirm" class="table-btn"/>

                    </form>
                    <form  th:action="@{/cancelOrder/{id}(id=${pending.id})}" method="DELETE">
                        <button type="submit" value="Delete Order" class="cancel-order"><i class="fa fa-close"></i></button>
                    </form>
                </td>
            </tr>
            <!-- shows delivered orders on the webpage
               <tr th:each="delivered: ${deliveredOrders}">
               <td th:text="${delivered.tableNo}"></td>
               <td th:text="${delivered.name}"></td>
               <td th:text="${delivered.quantity}"></td>
               <td class="order-status" th:text="${delivered.status}"></td>
               <td>

               </td>
           </tr>-->
            <tr th:each="confirmed: ${confirmedOrders}">
                <td th:text="${confirmed.tableNo}"></td>
                <td th:text="${confirmed.name}"></td>
                <td th:text="${confirmed.quantity}"></td>
                <td class="order-status" th:text="${confirmed.status}"></td>
                <td>
                    <form  th:action="@{/cancelOrder/{id}(id=${confirmed.id})}" method="DELETE">
                        <button type="submit" value="Delete Order" class="cancel-confirmed-order"><i class="fa fa-close"></i></button>
                    </form>
                </td>
            </tr>
             <tr th:each="ready: ${readyOrders}">
             <td th:text="${ready.tableNo}"></td>
             <td th:text="${ready.name}"></td>
             <td th:text="${ready.quantity}"></td>
             <td class="order-status" th:text="${ready.status}"></td>
             <td>
                 <form  th:action="@{/delivery/{id}(id=${ready.id})}" method="PUT">
                     <button type="submit" name="deliver" class="table-btn"><i class='fa fa-send'></i>deliver</button>
                 </form>
             </td>
         </tr>
        </table>
    </div>
</body>
</html>