<!DOCTYPE html>
<!-- ensure that thymeleaf is added or the data will not display on the page -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/img/favicon_io/site.webmanifest">
    <link rel="stylesheet"  type="text/css" href="/style/allPages.css">
    <link rel="stylesheet"  type="text/css" href="/style/waiter.css">
    <script src="/javascript/staffHeader.js" type="text/javascript" defer></script>
    <script src="/javascript/waiter.js" type="text/javascript" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>Waiter</title>
</head>
<body>
    <header-component></header-component> <!-- custom tag created in header.js -->
    <div class="container">
        <h1> Welcome to oaxaca waiter system! </h1>

        <button onclick="editMenu()">Edit Menu</button>
        <br/>
        <br/>
        <div class="dropdown">
            <button onclick="showNotifications()" id="bell-btn" class="dropbtn">Notifications</button>
            <div class="dropdown-content" id="myDropdown" >
                <div th:each="msg: ${alert}">
                    <span>Table</span>
                    <span th:text="${msg.tableNo}"> </span>
                    <span th:text="${msg.message}"></span>
                    <input type="submit" value="clear"/>
                </div>
            </div>
        </div>


        <!-- <div class="notification"> <i class="fa fa-bell"></i>
        <div class="box">
            <ul>
                <li>
            <div class="text" th:each="pending: ${alert}">
                <div style="display: inline;" class="text" th:text="${pending.tableNo}"> </div>
            <div style="display: inline;" class="text" th:text="${pending.message}"></div>
            </li>
            </ul>
        </div>
        </div>
        
        </div> -->

        <!-- section to list all orders in the database -->
        <br/>
        <br/>
        <h2>Orders</h2>
        <table>
            <tr>
                <th>Table number</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>status</th>
                <th>action</th>
            </tr>
            <tr th:each="pending: ${pendingOrders}">
                <td th:text="${pending.tableNo}"></td>
                <td th:text="${pending.name}"></td>
                <td th:text="${pending.quantity}"></td>
                <td class="order-status" th:text="${pending.status}"></td>
                <td>
                    <form  th:action="@{/waiter/{id}(id=${pending.id})}" method="PUT">
                            <input type="submit" value="confirm" class="table-btn"/>
                    </form>
                </td>
            </tr>
            <tr th:each="confirmed: ${confirmedOrders}">
                <td th:text="${confirmed.tableNo}"></td>
                <td th:text="${confirmed.name}"></td>
                <td th:text="${confirmed.quantity}"></td>
                <td class="order-status" th:text="${confirmed.status}"></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>